$dark: #222222;
$accent-red: #880d1e;
$accent-blue: #89cff0;
$white-1: #f9f8f8;
$white-2: #cdd3ce;

:export {
    dark: $dark;
    accent-red: $accent-red;
    accent-blue: $accent-blue;
    white-1: $white-1;
    white-2: $white-2;
}