
$accent-1: #42b883;
$accent-2: #ff7e67;
$light-1: #f7f7f7;
$light-2: #347474;
$light-3: #35495e;
$dark: #062E03;
$base-font: #333;


:export {
    accent-1: $accent-1;
    accent-2: $accent-2;
    light-1: $light-1;
    light-2: $light-2;
    light-3: $light-3;
    dark: $dark;
}
