
$accent-1: #5D21D0;
$accent-2: #BFF128;
$light-1: #f9f8f8;
$light-2: #85cfb6;
$light-3: #10A674;
$dark: #062E03;
$base-font: #333


:export {
    accent-1: $accent-1;
    accent-2: $accent-2;
    light-1: $light-1;
    light-2: $light-2;
    light-3: $light-3;
    dark: $dark;
}
