@import "colors";

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-family: inherit;
}
//  * {    color:                    hsla(210, 100%, 100%, 0.9) !important;    background:               hsla(210, 100%,  50%, 0.5) !important;    outline:    solid 0.25rem hsla(210, 100%, 100%, 0.5) !important;} 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 18px;
  color: #333;
  background-color: $white-2;
}

p {
    margin: 10px 0;
}

h1 {
    font-size: 2.5em;
    padding: 10px 0;
}

h2 {
    font-size: 2em;
    padding: 8px 0;
}

h3 {
    font-size: 1.8em;
    padding: 8px 0;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.2em;
}

a {
    box-shadow: none;
    text-decoration: none;
    color: inherit;
}

footer {
    position: absolute;
    bottom: 10px;
}

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 50rem;
    padding: 3rem 3rem;
    min-height: 100vh;
}

.background {
    position: absolute;
    height: 90vh;
    width: 90vw;
    top: 0;
    left:0;
    z-index: -1;
}
