@import "colors";

header > h1 {
    border: 5px $white-1 solid;
    font-style: normal;
    background-color: $accent-red;
    color: $white-1;
    padding-left: 10px;
}


header > h2 {
    font-weight: bold;
    margin-top: 1em;
}

header > h3 {
    border-bottom: 1px black solid;
}

.date {
    font-size: 1em;
    margin-bottom: 1em;
    color: $accent-red;
}

.blog-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
}

.post-item {
    border: 3px black solid;
    margin: 1rem;
    padding: 1rem;
}

ul, ol {
    margin-left: 1.75rem;
}

blockquote {
    border-left: 5px solid $accent-red;
}

.blog-nav-button {
    background-color: $accent-red;
    font-size: 1.6rem;
    color: $white-1;
    padding: 10px;
    border: 5px solid $white-1;
    
}

.blog-nav > li > a {
    box-shadow: none;
}