@import "colors";

header > h1 {
    border: 5px $light-1 solid;
    font-style: normal;
    background-color: $accent-1;
    color: $light-1;
    padding: 10px;
    margin: 20px 0px;
}

header > h1 > a:hover {
    box-shadow: none;
}

header > h1 {
    transition: transform 1s ease-in;
}

header > h3 {
    border-bottom: 1px black solid;
}

header > h2 {
    border-bottom: 1px black solid;
}

.date {
    font-size: 1em;
    margin-bottom: 1em;
    color: $accent-1;
}

.blog-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0;
}

.post-item {
    margin: 1.5rem;
    padding: 1.5rem;
    background-color: $light-1;
    border: 5px solid $accent-2;
    box-shadow: none;
    transition: 0.3s;
    min-width: calc(100% - 1.5rem * 2);
}

.post-item:hover {
     box-shadow: 0 0px 0px 5px $accent-2

}

blockquote {
    border-left: 5px solid $accent-1;
    padding-left: 10px;
}

.blog-content {
    background-color: $light-1;
    padding: 1.5rem;
    border: 1px $dark solid;
    // box-shadow: 0 2px 8px 0 $dark;
    border: 5px solid $accent-2;

}

.blog-nav-button {
    background-color: $accent-1;
    font-size: 1.6rem;
    color: $light-1;
    padding: 10px;
    border: 5px solid $light-1;
}

.blog-nav > li > a {
    box-shadow: none;
}

@media only screen and (max-device-width: 480px) {
    .blog-nav-button {
        font-size: 1rem;
        padding: 5px;
        margin: 5px;
    }
    .post-item {
        margin: 1.5em 0;
        border-radius: 0px;
        border-width: 1px 0px;
        box-shadow: none;
        
    }
    .blog-content {
        border-radius: 0px;
        border-width: 1px 0px;
        box-shadow: none;
    }
}
