@import "colors";

.bookmark-container {
    background-color: $light-1;
    border: 5px solid $accent-2;
    margin: 5px;
    padding: 5px;
}

.bookmark-link{
    border: $light-1;
    box-shadow: none;
    border: 1;
    font-weight: bold;
}

.bookmark-desc{
    margin-top: 5px;
}

.bookmark-date {
    font-size: 2em;
    color: $light-1;
    margin-left: 5px;
    margin-top: 15px;
}

.bookmark-intro{
    color: $light-1;
}
